T-shirt forms.json
{
  "name": "T-shirt forms",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "37b4611e-1fdd-4ebc-ac98-793a00d264ec",
              "leftValue": "={{ $json[\"Dirección de correo electrónico\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        432,
        -192
      ],
      "id": "1e4f82da-e27b-477b-aa1b-37f09d2347f8",
      "name": "filter_records_without_email",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1v-41BhX5yEmzOON05u7OAKsRCiICl9s1fkYfo-mmBS0",
          "mode": "list",
          "cachedResultName": "T-Shit Inventario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v-41BhX5yEmzOON05u7OAKsRCiICl9s1fkYfo-mmBS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v-41BhX5yEmzOON05u7OAKsRCiICl9s1fkYfo-mmBS0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        0
      ],
      "id": "dfd724c1-a47e-425b-b64e-60eb5c74d2e3",
      "name": "get_inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7i9C4vyUg4Ttv1Oi",
          "name": "google_sheets_credentials"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_P8B6grn9g98IgwlAoqlwsq4VacI9wMvWiFIBnUnZBw",
          "mode": "list",
          "cachedResultName": "Solicitud de encargo de camisetas (respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_P8B6grn9g98IgwlAoqlwsq4VacI9wMvWiFIBnUnZBw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954236048,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_P8B6grn9g98IgwlAoqlwsq4VacI9wMvWiFIBnUnZBw/edit#gid=954236048"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "3b3f6eb0-1a96-470e-b4f2-5ec17ff66235",
      "name": "get_t_shirt_requests",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7i9C4vyUg4Ttv1Oi",
          "name": "google_sheets_credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// const items = $input.all();\n// const filteredItems = items.filter((item) => item?.json[\"Dirección de correo electrónico\"]);\n// return filteredItems.map((item) => item.json);\n\nreturn $input.all().filter((item) => !!item.json[\"Dirección de correo electrónico\"])"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "11fdc240-e143-4934-bbcf-fef92b5fdc92",
      "name": "email_filter"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst inventory = items.map((item) => item.json.data).flat();\nconst newOrders = $('group_requests').first().json.data;\n\nfor (const newOrder of newOrders) {\n  const sizeProduct = inventory.find(item => item.Talla === newOrder['Talla de camiseta']);\n\n  // No se encuentra el producto por talla\n  if ( !sizeProduct ) continue;\n  \n  if ( !sizeProduct.Inventario ) continue;\n\n  // No hay existencias\n  if ( sizeProduct.Inventario <= 0) continue;\n\n  // Esto muta el item en el arreglo\n  sizeProduct.Inventario--;\n  newOrder.isSuccess = true; \n}\n\nreturn {\n  inventory,\n  orders: newOrders,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        0
      ],
      "id": "e8e63326-0388-48c0-bcde-4ba39da960c2",
      "name": "reduce_inventory"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        992,
        0
      ],
      "id": "b2808df7-c6b3-4ac3-8dcf-37433ffb734d",
      "name": "group_inventory"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "9a784d89-f182-4f8b-a4b5-0866db28936e",
      "name": "group_requests"
    },
    {
      "parameters": {
        "fieldToSplitOut": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1376,
        -80
      ],
      "id": "b331741f-f74d-42cd-b538-b7d2c8de2aad",
      "name": "extract_order_details"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_P8B6grn9g98IgwlAoqlwsq4VacI9wMvWiFIBnUnZBw",
          "mode": "list",
          "cachedResultName": "Solicitud de encargo de camisetas (respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_P8B6grn9g98IgwlAoqlwsq4VacI9wMvWiFIBnUnZBw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954236048,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_P8B6grn9g98IgwlAoqlwsq4VacI9wMvWiFIBnUnZBw/edit#gid=954236048"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Dirección de correo electrónico": "={{ $json[\"Dirección de correo electrónico\"] }}",
            "Verificado": "={{ !!$json.isSuccess }}",
            "Fecha verificación": "={{ $now }}"
          },
          "matchingColumns": [
            "Dirección de correo electrónico"
          ],
          "schema": [
            {
              "id": "Marca temporal",
              "displayName": "Marca temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Talla de camiseta",
              "displayName": "Talla de camiseta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Otros comentarios",
              "displayName": "Otros comentarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dirección de correo electrónico",
              "displayName": "Dirección de correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Verificado",
              "displayName": "Verificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha verificación",
              "displayName": "Fecha verificación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1584,
        -80
      ],
      "id": "e68a9c11-2ebb-4880-8519-aeba864f0a5e",
      "name": "mark_order_as_verified",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7i9C4vyUg4Ttv1Oi",
          "name": "google_sheets_credentials"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "inventory",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1376,
        64
      ],
      "id": "30c373a4-4fbe-4d9b-8511-b1d7491bd1c7",
      "name": "extract_inventory_details"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1v-41BhX5yEmzOON05u7OAKsRCiICl9s1fkYfo-mmBS0",
          "mode": "list",
          "cachedResultName": "T-Shit Inventario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v-41BhX5yEmzOON05u7OAKsRCiICl9s1fkYfo-mmBS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v-41BhX5yEmzOON05u7OAKsRCiICl9s1fkYfo-mmBS0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Inventario": "={{ $json.Inventario }}",
            "Producto": "={{ $json.Producto }}",
            "Talla": "={{ $json.Talla }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Producto",
              "displayName": "Producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Talla",
              "displayName": "Talla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Inventario",
              "displayName": "Inventario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1584,
        64
      ],
      "id": "a1d7702f-decc-48eb-a63b-370c24d430c0",
      "name": "update_inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7i9C4vyUg4Ttv1Oi",
          "name": "google_sheets_credentials"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1808,
        0
      ],
      "id": "d027364c-e632-4d29-b5d3-fdc1e902c327",
      "name": "merge_results"
    },
    {
      "parameters": {
        "sendTo": "aarroyaveduque20@gmail.com",
        "subject": "Registro y actualización de inventario",
        "message": "=<div style=\"font-family: Arial, sans-serif; background-color:#f4f6f9; padding:20px;\">\n\n  <div style=\"max-width:700px; margin:0 auto; background:white; padding:25px; border-radius:16px; box-shadow:0 4px 12px rgba(0,0,0,0.08);\">\n\n    <h2 style=\"font-weight:bold; margin-bottom:20px;\">\n      🛍 Reporte de Compras e Inventario\n    </h2>\n\n    <!-- ===================== -->\n    <!-- CORREOS VERIFICADOS -->\n    <!-- ===================== -->\n\n    <h3>📧 Correos Verificados</h3>\n\n    <table width=\"100%\" cellpadding=\"10\" cellspacing=\"0\"\n      style=\"border-collapse:separate; border-spacing:0; border-radius:12px; overflow:hidden; border:1px solid #e0e0e0; margin-bottom:25px;\">\n      \n      <tr style=\"background-color:#111827; color:white;\">\n        <th align=\"left\">Correo</th>\n        <th align=\"center\">Verificado</th>\n        <th align=\"center\">Fecha Verificación</th>\n      </tr>\n\n      {{\n        $json.data\n          .filter(item => item[\"Dirección de correo electrónico\"])\n          .map(item => `\n            <tr style=\"background-color:#fafafa;\">\n              <td style=\"border-top:1px solid #e0e0e0;\">\n                ${item[\"Dirección de correo electrónico\"]}\n              </td>\n              <td align=\"center\" style=\"border-top:1px solid #e0e0e0;\">\n                ${item.Verificado ? \"✅ Sí\" : \"❌ No\"}\n              </td>\n              <td align=\"center\" style=\"border-top:1px solid #e0e0e0;\">\n                ${new Date(item[\"Fecha verificación\"]).toLocaleString()}\n              </td>\n            </tr>\n          `).join('')\n      }}\n\n    </table>\n\n\n    <!-- ===================== -->\n    <!-- INVENTARIO -->\n    <!-- ===================== -->\n\n    <h3>📦 Inventario Actual</h3>\n\n    <table width=\"100%\" cellpadding=\"10\" cellspacing=\"0\"\n      style=\"border-collapse:separate; border-spacing:0; border-radius:12px; overflow:hidden; border:1px solid #e0e0e0;\">\n      \n      <tr style=\"background-color:#2563eb; color:white;\">\n        <th align=\"center\">Referencia</th>\n        <th align=\"center\">Tallas</th>\n        <th align=\"center\">Inventario Actual</th>\n      </tr>\n\n      {{\n        $json.data\n          .filter(item => item.Inventario !== undefined)\n          .map(item => `\n            <tr style=\"background-color:#fafafa;\">\n              <td align=\"center\" style=\"border-top:1px solid #e0e0e0;\">\n                ${item.Producto}\n              </td>\n              <td align=\"center\" style=\"border-top:1px solid #e0e0e0;\">\n                ${item.Talla}\n              </td>\n              <td align=\"center\" style=\"border-top:1px solid #e0e0e0; font-weight:bold;\">\n                ${item.Inventario}\n              </td>\n            </tr>\n          `).join('')\n      }}\n\n    </table>\n\n    <p style=\"margin-top:25px; font-size:12px; color:#6b7280;\">\n      Este correo fue generado automáticamente por el sistema.\n    </p>\n\n  </div>\n\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2176,
        0
      ],
      "id": "6cfc09b8-f8f6-480f-9842-05c44ec33957",
      "name": "send_results",
      "webhookId": "3d614508-52bb-406a-af21-14e28864a97d",
      "credentials": {
        "gmailOAuth2": {
          "id": "NqYlp8iAweG7ggsg",
          "name": "gmail_credentials"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1984,
        0
      ],
      "id": "fa8a4d33-f0b4-4e2f-bf7b-1b7df013ab86",
      "name": "group_results"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1_P8B6grn9g98IgwlAoqlwsq4VacI9wMvWiFIBnUnZBw",
          "mode": "list",
          "cachedResultName": "Solicitud de encargo de camisetas (respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_P8B6grn9g98IgwlAoqlwsq4VacI9wMvWiFIBnUnZBw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954236048,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_P8B6grn9g98IgwlAoqlwsq4VacI9wMvWiFIBnUnZBw/edit#gid=954236048"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "687869be-987b-4ca9-8023-4b5848f2203b",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "i3Jfpoa9NFh4S4rz",
          "name": "google_sheets_trigger_credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extraer datos\nSe obtiene la información de las solicitudes o nuevas órdenes del formulario",
        "height": 272,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -112
      ],
      "typeVersion": 1,
      "id": "1229b713-8c31-45b3-bd97-31f9e220931e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Filtrar datos\nSe filtran los datos que tienen un correo electrónico relacionado",
        "height": 448,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -304
      ],
      "typeVersion": 1,
      "id": "47ad406d-797e-4b2d-b1f2-2560c99877f9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Extraer inventario\nSe obtiene los datos del inventario con productos",
        "height": 256,
        "width": 528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        -96
      ],
      "typeVersion": 1,
      "id": "efd378bd-7e99-4c52-a48a-73b0b980b558",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Actualizar datos\nSe actualizan los datos tanto de las órdenes como del inventario",
        "height": 464,
        "width": 624,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        -240
      ],
      "typeVersion": 1,
      "id": "3007637e-d474-4230-b6d8-6bdcc9614ec5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Envío de resultados\nSe envía por correo electrónico las actualizaciones realizadas",
        "height": 272,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        -112
      ],
      "typeVersion": 1,
      "id": "69b2d672-4bb5-4369-97d1-febe454e7c76",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "filter_records_without_email": {
      "main": [
        []
      ]
    },
    "get_inventory": {
      "main": [
        [
          {
            "node": "group_inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_t_shirt_requests": {
      "main": [
        [
          {
            "node": "email_filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_filter": {
      "main": [
        [
          {
            "node": "group_requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "group_inventory": {
      "main": [
        [
          {
            "node": "reduce_inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "group_requests": {
      "main": [
        [
          {
            "node": "get_inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reduce_inventory": {
      "main": [
        [
          {
            "node": "extract_inventory_details",
            "type": "main",
            "index": 0
          },
          {
            "node": "extract_order_details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract_order_details": {
      "main": [
        [
          {
            "node": "mark_order_as_verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract_inventory_details": {
      "main": [
        [
          {
            "node": "update_inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mark_order_as_verified": {
      "main": [
        [
          {
            "node": "merge_results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_inventory": {
      "main": [
        [
          {
            "node": "merge_results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge_results": {
      "main": [
        [
          {
            "node": "group_results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "group_results": {
      "main": [
        [
          {
            "node": "send_results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "get_t_shirt_requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "30e7d183-6ad3-4cd8-8595-a0a460a69693",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30283f17854909b1f178ebc281f74453ff6070225c5dc94192ecdf325754b502"
  },
  "id": "EyNjGEGwMV4103RaqiHRJ",
  "tags": []
}