Standard RAG System/Standard RAG System - PostgreSQL.json
{
  "name": "Standard RAG System - PostgreSQL",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        1024
      ],
      "id": "7c9f14a7-53a1-4476-8731-1db4f19d1f62",
      "name": "embeddings_google_gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "WMTYq7E6cdOTHuwG",
          "name": "google_gemini_credentials"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1072,
        592
      ],
      "id": "e08669de-8f65-46e4-b7bb-23a70dce0a80",
      "name": "data_loader"
    },
    {
      "parameters": {
        "chunkOverlap": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1184,
        768
      ],
      "id": "613226e5-ce57-4790-a75e-386dae81da9b",
      "name": "recursive_character_text_splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# Rol: Asistente Legal\n\n## Descripción\nEres un asistente legal diseñado para ayudar a un abogado a consultar información contenida en documentos legales internos.  \nDebes recuperar, analizar y entregar respuestas precisas, claras y fundamentadas basadas únicamente en los documentos disponibles.  \nMantén siempre un tono profesional y formal, y prioriza la exactitud legal en todas tus respuestas.  \n\nTus respuestas deben de ser cortas y puntuales.\n\nSi no conoces la respuesta, responde que no dispones de la información.\n\n## Capacidades\n- Búsqueda y recuperación de información legal relevante.  \n- Respuestas concisas y con fundamento en los documentos disponibles.  \n- Inclusión de referencia del documento utilizado para responder.  \n- Identificación de ausencia de información en los documentos.  \n- Mantener confidencialidad y precisión en todas las respuestas.  \n\n## Comportamiento\n1. Recepción de la consulta: Recibe la pregunta o solicitud del abogado.  \n2. Búsqueda de información en la base de conocimiento para encontrar información relevante en los documentos.  \n3. Generación de la respuesta:  \n   - Si encuentras la información:  \n     - Proporciona un resumen conciso, claro y preciso.  \n     - Incluye la referencia del documento donde encontraste la información (nombre o identificación del documento y sección/cláusula si aplica).  \n   - Si no encuentras la información:  \n     - Responde únicamente con:  \n       ```\n       No puedo encontrar la respuesta en los recursos disponibles.\n       ```\n4. Confidencialidad: No reveles información fuera de lo que esté contenido en los documentos.  \n5. Tono: Profesional, formal, claro y directo.  \n\n## Ejemplo\nPregunta del abogado:  \n> ¿Cuál es el procedimiento de terminación anticipada del contrato de arrendamiento?\n\nRespuesta del asistente (ejemplo):  \n> Según el Contrato de Arrendamiento - Cláusula 12, el contrato puede ser terminado anticipadamente por cualquiera de las partes notificando con al menos 30 días de antelación y cumpliendo con el pago proporcional de las obligaciones pendientes.  \n> Referencia: Contrato_Arrendamiento_2025.pdf, Cláusula 12."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1936,
        416
      ],
      "id": "a54f6f43-f47a-4785-87e1-3556345f22bd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1728,
        416
      ],
      "id": "cc4c701a-3b5b-489f-a63e-9df0e4341341",
      "name": "chat_message",
      "webhookId": "4fc56b21-97fb-44b6-941d-6576ac95227c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1840,
        608
      ],
      "id": "68eb9fee-a86a-44ba-851e-1dc14613fd6a",
      "name": "gemini_model",
      "credentials": {
        "googlePalmApi": {
          "id": "WMTYq7E6cdOTHuwG",
          "name": "google_gemini_credentials"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2000,
        608
      ],
      "id": "55724326-75d4-4e18-843c-a2f3dee238b7",
      "name": "simple_memory"
    },
    {
      "parameters": {
        "content": "## Almacenar información\nSe alimenta la base de datos con la carga de archivos de tipo .pdf",
        "height": 608,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        320
      ],
      "typeVersion": 1,
      "id": "0c89c67e-d6ec-4a36-b39e-a0a03b13aea3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Consumo de archivos\nSe consume o consulta la base de datos con los archivos cargados previamente de tipo .pdf",
        "height": 608,
        "width": 736,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1664,
        320
      ],
      "typeVersion": 1,
      "id": "01fc54ac-728f-4526-963f-24e668ed9f88",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        928,
        416
      ],
      "id": "f337152c-f5e1-4540-92dc-fdc8c8e216d1",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "eD1yJOAiWawH65wC",
          "name": "postgres_credentials"
        }
      }
    },
    {
      "parameters": {
        "description": "Aquí puedes tomar los documentso cargados como base de información para responder preguntas relacionadas."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2128,
        608
      ],
      "id": "dd2b8e2a-8ba4-4cbb-aa9b-4ff68d793d43",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1920,
        784
      ],
      "id": "4a391ee9-7863-4459-b0da-2772ea8dcbf0",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "eD1yJOAiWawH65wC",
          "name": "postgres_credentials"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2256,
        784
      ],
      "id": "26da74e0-97df-41fc-89ce-c173716d1bbc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WMTYq7E6cdOTHuwG",
          "name": "google_gemini_credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## Selección de documentos\nSe carga desde formulario los documentos o directamnte desde una carpeta almacenada en Google Drive",
        "height": 592,
        "width": 2016,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        112
      ],
      "typeVersion": 1,
      "id": "e0790e3d-fd08-4b24-baa3-f89ac664c1fd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        736,
        416
      ],
      "id": "94444d6e-c851-40e7-8e5e-531c6df4fd03",
      "name": "download_file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4G4OmWUHLah1Uc7O",
          "name": "google_drive_credentials"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        320
      ],
      "id": "b37a4ea4-e6b0-444a-92bb-bcc439d2db80",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1088,
        512
      ],
      "id": "b9b6fac4-db26-4347-98b7-f2afb0b4cb86",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1LO6iOdzuT5XVgYnspDgLEzsVVta7qYPY",
            "mode": "list",
            "cachedResultName": "Documentos - n8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1LO6iOdzuT5XVgYnspDgLEzsVVta7qYPY"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -848,
        400
      ],
      "id": "11f38b09-a593-472e-b59c-9ebd79f6110e",
      "name": "file_and_folder_search",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4G4OmWUHLah1Uc7O",
          "name": "google_drive_credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b124a68-f780-4c66-9538-1442c01270ce",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.folder",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        400
      ],
      "id": "adab79d3-c070-4b39-9ba4-31cdb79cf22b",
      "name": "validate_file_type"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) as ingested from public.ingested_files where file_id = '{{ $json.id }}' and md5_checksum ='{{ $json.md5Checksum }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        304
      ],
      "id": "476c0698-7ba6-4ed7-b64e-14766b43338e",
      "name": "get_preload",
      "credentials": {
        "postgres": {
          "id": "eD1yJOAiWawH65wC",
          "name": "postgres_credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e0c1ee8-9663-461e-9afe-c6466b6c5a9e",
              "leftValue": "={{ $json.ingested }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        304
      ],
      "id": "0d35db61-73df-49bf-a931-68ccbd7a15ad",
      "name": "was_loaded"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -16,
        208
      ],
      "id": "d05c53bd-8dd5-4250-8154-5fe0b2954652",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43440773-81f6-4304-b58e-7af33cd2559f",
              "name": "id",
              "value": "={{ $('validate_file_type').item.json.id }}",
              "type": "string"
            },
            {
              "id": "10fa2690-2e7d-462c-8c37-62897e0fec1b",
              "name": "md5Checksum",
              "value": "={{ $('validate_file_type').item.json.md5Checksum }}",
              "type": "string"
            },
            {
              "id": "c14c8aee-cafe-4155-b78f-cd4cd9d98b2c",
              "name": "mimeType",
              "value": "={{ $('validate_file_type').item.json.mimeType }}",
              "type": "string"
            },
            {
              "id": "010cea79-52bd-4f9c-a3f0-1a8e07a752e6",
              "name": "modifiedTime",
              "value": "={{ $('validate_file_type').item.json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "9ad02b0c-6e46-4569-9a92-1f4ca2d6437d",
              "name": "name",
              "value": "={{ $('validate_file_type').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        400
      ],
      "id": "48752223-f86c-49fc-979c-e76e11f26a92",
      "name": "get_data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_vectors where file_id= '{{ $json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        496
      ],
      "id": "bf285210-ec3f-48ec-be0f-405ee5207b6e",
      "name": "delete_references",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "eD1yJOAiWawH65wC",
          "name": "postgres_credentials"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        416
      ],
      "id": "9dd4df7d-b696-42ce-9f9d-e591be8af733",
      "name": "await_deletion"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ingested_files",
          "mode": "list",
          "cachedResultName": "ingested_files"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "md5_checksum": "={{ $json.md5Checksum }}",
            "mime_type": "={{ $json.mimeType }}",
            "modified_time": "={{ $json.modifiedTime }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "md5_checksum",
              "displayName": "md5_checksum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modified_time",
              "displayName": "modified_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ingested",
              "displayName": "last_ingested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        416
      ],
      "id": "d8819a1b-a42b-4a2c-aff5-d0ca9a77d29b",
      "name": "insert_document",
      "credentials": {
        "postgres": {
          "id": "eD1yJOAiWawH65wC",
          "name": "postgres_credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE n8n_vectors\nSET file_id = '{{ $('get_data').item.json.id }}'\nWHERE metadata->'loc'->'lines' = '{{ $json.metadata.loc.lines.toJsonString() }}' and file_id is null",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        416
      ],
      "id": "3ebc81cd-7bb2-4847-bcb0-7e68f6fd1d91",
      "name": "update_file_id_in_vectors",
      "credentials": {
        "postgres": {
          "id": "eD1yJOAiWawH65wC",
          "name": "postgres_credentials"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1424,
        416
      ],
      "id": "ed94536e-817f-4116-aeb5-fff7c2e3d612",
      "name": "end_process"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        496
      ],
      "id": "e50ed677-b364-42d5-97ee-6413f53c7957",
      "name": "file_search",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4G4OmWUHLah1Uc7O",
          "name": "google_drive_credentials"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "embeddings_google_gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "data_loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "recursive_character_text_splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "data_loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "chat_message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini_model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "simple_memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "download_file": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "file_and_folder_search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "file_and_folder_search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "file_and_folder_search": {
      "main": [
        [
          {
            "node": "validate_file_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate_file_type": {
      "main": [
        [
          {
            "node": "get_preload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "file_search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_preload": {
      "main": [
        [
          {
            "node": "was_loaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "was_loaded": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_data": {
      "main": [
        [
          {
            "node": "delete_references",
            "type": "main",
            "index": 0
          },
          {
            "node": "await_deletion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete_references": {
      "main": [
        [
          {
            "node": "await_deletion",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "await_deletion": {
      "main": [
        [
          {
            "node": "insert_document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_document": {
      "main": [
        [
          {
            "node": "download_file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "update_file_id_in_vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_file_id_in_vectors": {
      "main": [
        [
          {
            "node": "end_process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "file_search": {
      "main": [
        [
          {
            "node": "validate_file_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "76c67d11-fb72-4954-bbfc-13b4a0007f02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30283f17854909b1f178ebc281f74453ff6070225c5dc94192ecdf325754b502"
  },
  "id": "_FQB7yrvo2E7wBnN4zUlW",
  "tags": [
    {
      "updatedAt": "2026-02-25T11:27:37.136Z",
      "createdAt": "2026-02-25T11:27:37.136Z",
      "id": "5RWDek1IftykmOXF",
      "name": "rag"
    }
  ]
}