Days Off/Days Off - Form Trigger.json
{
  "name": "Days Off",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Solicitud de vacaciones",
        "formDescription": "Aquí puedes solliticar tus vacaciones o días libres por enfermedad",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre completo",
              "placeholder": "Nombre completo del empleado",
              "requiredField": true
            },
            {
              "fieldLabel": "Correo electrónico",
              "fieldType": "email",
              "placeholder": "Correo electrónico institucional",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha inicio",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha de retorno",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Comentarios",
              "fieldType": "textarea",
              "placeholder": "Comentarios adicionales de la solicitud"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Información enviada correctamente"
            }
          },
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\n\t--font-size-body: 14px;\n\t--font-size-label: 14px;\n\t--font-size-input: 14px;\n\t--font-size-header: 22px;\n\t--font-size-paragraph: 14px;\n\t--font-size-error: 12px;\n\n\t/* ========= COLORS ========= */\n\n\t--color-background: linear-gradient(135deg, #0f172a 0%, #111827 100%);\n\t--color-card-bg: #1e293b;\n\t--color-card-border: #334155;\n\t--color-card-shadow: rgba(0, 0, 0, 0.5);\n\n\t--color-header: #f1f5f9;\n\t--color-header-subtext: #94a3b8;\n\t--color-label: #cbd5e1;\n\t--color-text: #e2e8f0;\n\n\t--color-link: #3b82f6;\n\n\t--color-input-bg: #0f172a;\n\t--color-input-border: #334155;\n\t--color-input-text: #f8fafc;\n\t--color-focus-border: #3b82f6;\n\n\t--color-submit-btn-bg: linear-gradient(135deg, #2563eb, #1d4ed8);\n\t--color-submit-btn-text: #ffffff;\n\n\t--color-error: #ef4444;\n\t--color-required: #3b82f6;\n\n\t/* ========= BORDES ========= */\n\n\t--border-radius-card: 14px;\n\t--border-radius-input: 8px;\n\n\t/* ========= SOMBRAS ========= */\n\n\t--box-shadow-card: 0px 15px 40px rgba(0, 0, 0, 0.6);\n}\n\n/* ========= BASE ========= */\n\nbody {\n\tmargin: 0;\n\tfont-family: var(--font-family);\n\tbackground: var(--color-background);\n\tmin-height: 100vh;\n\tdisplay: flex;\n\tjustify-content: center;\n\talign-items: center;\n}\n\n/* ========= CARD ========= */\n\n.form-card {\n\tbackground: var(--color-card-bg);\n\tborder: 1px solid var(--color-card-border);\n\tborder-radius: var(--border-radius-card);\n\tpadding: 40px 30px;\n\twidth: 100%;\n\tmax-width: 480px;\n\tbox-shadow: var(--box-shadow-card);\n\tcolor: var(--color-text);\n}\n\n/* ========= TITLES ========= */\n\n.form-card h1 {\n\tfont-size: var(--font-size-header);\n\tcolor: var(--color-header);\n\tmargin-bottom: 10px;\n\ttext-align: center;\n}\n\n.form-card p {\n\tfont-size: var(--font-size-paragraph);\n\tcolor: var(--color-header-subtext);\n\ttext-align: center;\n\tmargin-bottom: 30px;\n}\n\n/* ========= LABELS ========= */\n\nlabel {\n\tdisplay: block;\n\tmargin-bottom: 6px;\n\tfont-size: var(--font-size-label);\n\tcolor: var(--color-label);\n\tfont-weight: var(--font-weight-bold);\n}\n\n/* ========= INPUTS ========= */\n\ninput,\ntextarea {\n\twidth: 100%;\n\tpadding: 12px;\n\tbackground: var(--color-input-bg);\n\tborder: 1px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tcolor: var(--color-input-text);\n\tfont-size: var(--font-size-input);\n\tmargin-bottom: 5px;\n\ttransition: all 0.2s ease;\n}\n\ninput::placeholder,\ntextarea::placeholder {\n\tcolor: #64748b;\n}\n\ninput:focus,\ntextarea:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 3px rgba(59, 130, 246, 0.25);\n}\n\n/* ========= BUTTON ========= */\n\nbutton {\n\twidth: 100%;\n\theight: 48px;\n\tborder: none;\n\tborder-radius: 10px;\n\tbackground: var(--color-submit-btn-bg);\n\tcolor: var(--color-submit-btn-text);\n\tfont-size: 15px;\n\tfont-weight: 600;\n\tcursor: pointer;\n\ttransition: all 0.2s ease;\n\tmargin-top: 5px;\n}\n\nbutton:hover {\n\ttransform: translateY(-2px);\n\tbox-shadow: 0 10px 20px rgba(37, 99, 235, 0.4);\n}\n\nbutton:active {\n\ttransform: scale(0.98);\n}\n\n/* ========= REQUIRED ASTERISK ========= */\n\n.required {\n\tcolor: var(--color-required);\n}\n\n/* ========= ERROR ========= */\n\n.error {\n\tcolor: var(--color-error);\n\tfont-size: var(--font-size-error);\n\tmargin-top: -15px;\n\tmargin-bottom: 15px;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        64
      ],
      "id": "5c001087-13a9-48cc-8de7-1bbfca5c16bc",
      "name": "days_off_form",
      "webhookId": "376592e4-fe9e-4fd5-b87e-f5fbdb3831e2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"full_name\": \"{{ $json[\"Nombre completo\"] }}\",\n  \"email\": \"{{ $json[\"Correo electrónico\"] }}\",\n  \"start_date\": \"{{ $json[\"Fecha inicio\"] }}\",\n  \"end_date\": \"{{ $json[\"Fecha de retorno\"] }}\",\n  \"comments\": \"{{ $json[\"Comentarios\"] }}\",\n  \"days_requested\": {{ ($json['Fecha de retorno'].toDateTime() - $json[\"Fecha inicio\"].toDateTime()) / (1000 * 60 * 60 * 24) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        64
      ],
      "id": "d7f17be6-1c9f-4256-a210-00ba2898d18f",
      "name": "extract_request_variables"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "611a84b6-d7db-47c5-acba-9bca2cf3c1d0",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.start_date.toDateTime().minus(7, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        64
      ],
      "id": "fb0c8bd0-95ee-4e0f-8665-6df7d405de4d",
      "name": "date_is_greater_than_7_days"
    },
    {
      "parameters": {
        "sendTo": "={{ $('extract_request_variables').item.json.email }}",
        "subject": "Rechazo de solicitud",
        "message": "=<h1>Solicitud de reenvio de información</h1>\n\n<p>Buen día, reciba un cordial saludo.</p>\n<br>\n<p>Se notifica que de acuerdo a la solicitud realizada el día {{ $('days_off_form').item.json.submittedAt }}: {{ $json.message }}.</p>\n<br>\n<p>Cordialmente: RRHH</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1296,
        176
      ],
      "id": "b264b3f1-159d-4138-a138-e0ab964a8fff",
      "name": "send_rejection_message",
      "webhookId": "ac6751ae-d17c-47ed-aa30-517f95a12e31",
      "credentials": {
        "gmailOAuth2": {
          "id": "NqYlp8iAweG7ggsg",
          "name": "gmail_credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"Se debe de solicitar con 7 días de antelación\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        176
      ],
      "id": "6d97b517-46ce-4945-b7a3-19891b5b23e9",
      "name": "request-time_error"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"Revise nuevamente las fechas si están correctas, ya que se solicita como fecha de inicio: {{ $json.start_date }} y fecha de retorno: {{ $json.end_date }}, por lo que se debe de solicitar más de 1 día de permiso\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        176
      ],
      "id": "8a271e81-e741-49a1-b5da-a24ba902ee28",
      "name": "error_in_days_requested"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "db350559-1513-4281-a3ea-9f44eb924008",
              "leftValue": "={{ $json.days_requested }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -96
      ],
      "id": "a05bc852-29df-47a9-85c1-04188e2e1d1a",
      "name": "correct_dates"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "days_off",
          "mode": "list",
          "cachedResultName": "days_off"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        -192
      ],
      "id": "1e7165c4-0c12-4324-b852-d3285110953f",
      "name": "get_days_off",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "eD1yJOAiWawH65wC",
          "name": "postgres_credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f5bd6a7-93d4-4772-9861-ce78d63d8d29",
              "leftValue": "={{ $('extract_request_variables').item.json.days_requested }}",
              "rightValue": "={{ $json.vacation_days }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        -192
      ],
      "id": "e7fe6882-2ca5-49b8-b3df-ee75f8758db9",
      "name": "enough_days"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"No tiene suficinte tiempo libre, cuenta con: {{ $json.vacation_days }} días\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        176
      ],
      "id": "ad36eea8-8dfa-4096-ba04-e1a7c9527be2",
      "name": "error_does_not_have_enough_days"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=## Solicitud nueva\nEmpleado: {{ $('extract_request_variables').item.json.full_name }}\nCorreo electrónico: {{ $('extract_request_variables').item.json.email }}\n\nSolicita un permiso para vacaciones en:\n\nFecha de inicio: {{ $('extract_request_variables').item.json.start_date }}\nFecha de regreso: {{ $('extract_request_variables').item.json.end_date }}\n\n### Comentarios\nCon los siguientes comentarios adicionales: {{ $('extract_request_variables').item.json.comments }}\n\n## Aprobar o rechazar solicitud\nPara continuar [click aquí]({{ $execution.resumeFormUrl }})",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1232,
        -208
      ],
      "id": "922134bb-103f-4fb8-9b87-4aa02f4e7abc",
      "name": "send_message_to_RRHH",
      "webhookId": "9d95bb76-bb71-46bd-8eb5-951102532b66",
      "credentials": {
        "discordWebhookApi": {
          "id": "jqyxeYEAOfE8biPh",
          "name": "discord_credentials"
        }
      }
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Aprobar tiempo libre",
        "formDescription": "=El empleado: {{ $('extract_request_variables').item.json.full_name }}\n\nSolicita: {{ $('extract_request_variables').item.json.days_requested }} días\n\nEntre: {{ $('extract_request_variables').item.json.start_date }} y {{ $('extract_request_variables').item.json.end_date }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "¿Aprobar o rechazar?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Aprobar"
                  },
                  {
                    "option": "Rechazar"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Motivo",
              "fieldType": "textarea",
              "placeholder": "Motivo por el cual no se puede aprobar solicitud"
            }
          ]
        },
        "limitWaitTime": true,
        "resumeAmount": 2,
        "resumeUnit": "days",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        -208
      ],
      "id": "9121acc9-cedb-48c4-a8a9-e7adfeaab73a",
      "name": "wait_response_RRHH",
      "webhookId": "5a2387c2-d3a9-4047-8ada-85b00a935788"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f5bd6a7-93d4-4772-9861-ce78d63d8d29",
              "leftValue": "={{ $json[\"¿Aprobar o rechazar?\"] }}",
              "rightValue": "=Aprobar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1632,
        -208
      ],
      "id": "9dda50e2-f014-4f71-9a07-0bcec849eb6f",
      "name": "validate_request_status"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"{{ $json.Motivo }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        -48
      ],
      "id": "8c4f24a3-bc6e-4d96-a72b-6b27a084174b",
      "name": "error_request_denied"
    },
    {
      "parameters": {
        "sendTo": "={{ $('extract_request_variables').item.json.email }}",
        "subject": "Rechazo de solicitud",
        "message": "=<h1>RRHH ha rehazado su solicitud</h1>\n\n<p>Buen día, reciba un cordial saludo.</p>\n<br>\n<p>Se notifica que de acuerdo a la solicitud realizada el día {{ $('days_off_form').item.json.submittedAt }}, se notifica que su solicitud ha sido rechazada debido a que: {{ $json.message }}.</p>\n<br>\n<p>Cordialmente: RRHH</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2064,
        -48
      ],
      "id": "05fd8db1-7937-4436-9cc9-9785d1643103",
      "name": "send_request_denied",
      "webhookId": "ac6751ae-d17c-47ed-aa30-517f95a12e31",
      "credentials": {
        "gmailOAuth2": {
          "id": "NqYlp8iAweG7ggsg",
          "name": "gmail_credentials"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "f2359e56c45c2d21ea02458bc7072b1a4151d6b490b5405087b22aa0963e8f28@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "start": "={{ $('extract_request_variables').item.json.start_date }}",
        "end": "={{ $('extract_request_variables').item.json.end_date }}",
        "additionalFields": {
          "summary": "=Vacaciones de {{ $('extract_request_variables').item.json.full_name }}\n\nTiempo solicitado: {{ $('extract_request_variables').item.json.days_requested }} días"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1840,
        -368
      ],
      "id": "80dec527-ce35-43e2-a83f-eca226e66429",
      "name": "create_event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pkfNtCaBUVxdqF4r",
          "name": "google_calendar_credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "days_off",
          "mode": "list",
          "cachedResultName": "days_off"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('get_days_off').item.json.id }}",
            "vacation_days": "={{ $('get_days_off').item.json.vacation_days - $('extract_request_variables').item.json.days_requested }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vacation_days",
              "displayName": "vacation_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sick_days",
              "displayName": "sick_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2032,
        -368
      ],
      "id": "87ce6263-fbee-409a-9b08-0d800ad8d376",
      "name": "substract_days_off",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "eD1yJOAiWawH65wC",
          "name": "postgres_credentials"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('extract_request_variables').item.json.email }}",
        "subject": "Aprobación de solicitud",
        "message": "=<h1>RRHH ha aprobado su solicitud</h1>\n\n<p>Buen día, reciba un cordial saludo.</p>\n<br>\n<p>Se notifica que de acuerdo a la solicitud realizada el día {{ $('days_off_form').item.json.submittedAt }}, se notifica que su solicitud ha sido aprobada con fecha de inicio {{ $('extract_request_variables').item.json.start_date }} y fecha de regreso {{ $('extract_request_variables').item.json.end_date }}.</p>\n<br>\n<p>Cordialmente: RRHH</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2240,
        -368
      ],
      "id": "7fbbb47a-b73d-48cc-be4c-707e40694f06",
      "name": "send_request_approved",
      "webhookId": "ac6751ae-d17c-47ed-aa30-517f95a12e31",
      "credentials": {
        "gmailOAuth2": {
          "id": "NqYlp8iAweG7ggsg",
          "name": "gmail_credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## Validar fechas\nSe valida si la fehca de inicio es mayor a 7 días",
        "height": 272,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -32
      ],
      "typeVersion": 1,
      "id": "2fb6a10c-d9af-42dc-ab81-698881735d65",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Validar fechas si son correctas\nSe valida si las fechas ingresadas, tanto la de inicio como de regreso son correctas",
        "height": 384,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -336
      ],
      "typeVersion": 1,
      "id": "13492e2e-4cfc-4dcb-a26e-dbfd5c3936a7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Validar si tiene dias disponibles\nSe valida en los registros si tiene días disponibles para pedir vacaciones",
        "height": 336,
        "width": 192,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        -384
      ],
      "typeVersion": 1,
      "id": "dc4e510d-adbd-4622-b957-483de72c64fe",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Validación RRHH\nSe espera una validación por parte del equipo de recursos humanos para aprobar o no la solicitud",
        "height": 272,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        -320
      ],
      "typeVersion": 1,
      "id": "94e76aca-51b6-4f28-95b1-95ba98543cbf",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Aprobación de solicitud\nSi la solicitud fue aprobada, se crea un evento en el calendario visible para la empresa y se notifica al empleado",
        "height": 272,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        -480
      ],
      "typeVersion": 1,
      "id": "98f04f2b-c9dc-4583-8b65-b6d5707b4202",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Notificación de errres en la solicitud\nSe envía correo electrónico notificando algún error en el proceso de revisión de la solicitud",
        "height": 272,
        "width": 896,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        64
      ],
      "typeVersion": 1,
      "id": "10504fd6-4ef7-498f-97bf-e2ea66e0be90",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Notificación de rechazo de la solicitud\nSe envía correo electrónico notificando el rechazo de la solicitud y el motivo",
        "height": 304,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        -192
      ],
      "typeVersion": 1,
      "id": "c7919cb1-79a5-433f-b6ad-46aab2c4dac5",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {
    "days_off_form": [
      {
        "json": {
          "Nombre completo": "Angelica Arroyave Duque",
          "Correo electrónico": "aarroyaveduque20@gmail.com",
          "Fecha inicio": "2026-02-23",
          "Fecha de retorno": "2026-02-28",
          "Comentarios": "Ningún comentario para agregar",
          "submittedAt": "2026-02-15T09:27:29.329-05:00",
          "formMode": "test"
        }
      }
    ],
    "wait_response_RRHH": [
      {
        "json": {
          "¿Aprobar o rechazar?": "Aprobar",
          "Motivo": "",
          "submittedAt": "2026-02-17T01:04:10.255Z",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "days_off_form": {
      "main": [
        [
          {
            "node": "extract_request_variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract_request_variables": {
      "main": [
        [
          {
            "node": "date_is_greater_than_7_days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "date_is_greater_than_7_days": {
      "main": [
        [
          {
            "node": "correct_dates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "request-time_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request-time_error": {
      "main": [
        [
          {
            "node": "send_rejection_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error_in_days_requested": {
      "main": [
        [
          {
            "node": "send_rejection_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "correct_dates": {
      "main": [
        [
          {
            "node": "get_days_off",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error_in_days_requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_days_off": {
      "main": [
        [
          {
            "node": "enough_days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enough_days": {
      "main": [
        [
          {
            "node": "send_message_to_RRHH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error_does_not_have_enough_days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error_does_not_have_enough_days": {
      "main": [
        [
          {
            "node": "send_rejection_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_message_to_RRHH": {
      "main": [
        [
          {
            "node": "wait_response_RRHH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait_response_RRHH": {
      "main": [
        [
          {
            "node": "validate_request_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate_request_status": {
      "main": [
        [
          {
            "node": "create_event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error_request_denied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error_request_denied": {
      "main": [
        [
          {
            "node": "send_request_denied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_event": {
      "main": [
        [
          {
            "node": "substract_days_off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "substract_days_off": {
      "main": [
        [
          {
            "node": "send_request_approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cfdfdafc-d335-46ae-974e-37c1e68fecd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30283f17854909b1f178ebc281f74453ff6070225c5dc94192ecdf325754b502"
  },
  "id": "3LaOulmKJ9GF3GAMpi0A2",
  "tags": []
}